

<!DOCTYPE html>

<html ng-app="carleasing">
    <head>
        <title>Krone Kapital A/S</title>
        <link rel="stylesheet" media="screen" href="/assets/stylesheets/c872cac689b9fddfc8dd9638cab8654b-style.css">

        <link rel="shortcut icon" href="/assets/krone/images/dcb512d6b8da9c0bebbd78eb1858c3ab-favicon.ico">
        <link rel="apple-touch-icon" sizes="57x57" href="/assets/krone/images/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/krone/images/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/assets/krone/images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/assets/krone/images/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/assets/krone/images/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/assets/krone/images/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/assets/krone/images/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/assets/krone/images/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/krone/images/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/assets/krone/images/favicon-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/assets/krone/images/favicon-160x160.png" sizes="160x160">
        <link rel="icon" type="image/png" href="/assets/krone/images/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/assets/krone/images/ab1f6685c7095edd86f7cb96b719c3d6-favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/assets/krone/images/0b892d64b2cd5ce505e82a3822891cec-favicon-32x32.png" sizes="32x32">

        <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.60.0/codemirror.min.css" integrity="sha512-xIf9AdJauwKIVtrVRZ0i4nHP61Ogx9fSRAkCLecmE2dL/U8ioWpDvFCAy4dcfecN72HHB9+7FfQj3aiO68aaaw==" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.60.0/addon/hint/show-hint.min.css" integrity="sha512-OmcLQEy8iGiD7PSm85s06dnR7G7C9C0VqahIPAj/KHk5RpOCmnC6R2ob1oK4/uwYhWa9BF1GC6tzxsC8TIx7Jg==" crossorigin="anonymous" />
       	<base href="/">

        
          
          
            
              <link rel="stylesheet" href="/assets/61cb20e3d3fb9ad6a7c6603bc02bb8f1-shared-B3JvosR3.css">
            
            <link rel="modulepreload" href="/assets/01d4c22ce558b8df52a1d1c5e52a1b9c-shared-Bv8jyH2L.js">
          
            
            <link rel="modulepreload" href="/assets/dfaaee0789d6adf117750b9f5fb78a75-setup-DZueHN3d.js">
          
            
            <link rel="modulepreload" href="/assets/63a4289b3dc8ec32a5035b711d2a2340-core.templates-BqG3YOot.js">
          
            
            <link rel="modulepreload" href="/assets/ed921a73f142c5672cbbc29b73d0dccb-shared.templates-B3cQ2h3f.js">
          
            
              <link rel="stylesheet" href="/assets/8ad4f8a9d603f239f8556b98d9075bf5-form-B7QmLTVl.css">
            
            <link rel="modulepreload" href="/assets/3245ba2a73402556b22a9c56830d1128-form-DSG0xrpT.js">
          
            
            <link rel="modulepreload" href="/assets/38991417598ca15fcd56e9efad7702f5-core.form-DO0WXtxT.js">
          

          <script type="module" src="/assets/0319cd015c2afc9e219f3a7ec30d0e20-carleasing.core.index.es.js"></script>
        

    </head>
    <body id="index">
        <script>
          CARLEASING_INSTANCE = 'krone'
          CARLEASING_URL_WITH_INSTANCE_NAME = false
        </script>

        
   <div class="navbar navbar-default" ng-controller="headerCtrl">
     
         <div class="container" ng-class="{'wide' : $state.current.name.indexOf('root.application.index') === 0}">
     
     <div class="navbar-header">
         <button type="button" class="navbar-toggle"  ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" title="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
       <a class="navbar-brand" ui-sref="root.application.index"><img src="/assets/krone/images/aa789692ac652298c28bdecfa45ea2da-logosmall.png" alt="Krone Kapital A/S"></a>
     </div>
     <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">

       <ul class="nav navbar-nav">
         <li ng-class="{'active' : $state.current.name.indexOf('root.application') === 0}"><a ui-sref="root.application.index" data-ui-sref-opts="{reload: true}"><i class="fa fa-briefcase"></i> Ansøgninger</a></li>
         <li ng-class="{'active' : $state.current.name.indexOf('root.company') === 0}" ng-show="userInfo.isCompanyAdmin"><a ui-sref="root.company.index"><i class="fa fa-users"></i> Stamdata og brugere</a></li>
         <li ng-class="{'active' : $state.current.name.indexOf('root.controlpanel') === 0}" ng-show="userInfo.isSuperAdmin"><a ui-sref="root.controlpanel.index"><i class="fa fa-building-o"></i> Opsætning og priser</a></li>
         
           <li ng-class="{'active' : $state.current.name.indexOf('root.register') === 0}" ng-show="userInfo.isSuperAdmin"><a ui-sref="root.register.index"><i class="fa fa-archive"></i> Registeropslag</a></li>
         
         <li ng-class="{'active' : $state.current.name.indexOf('root.news') === 0}"><a ui-sref="root.news.index"><i class="fa fa-newspaper-o"></i> Nyheder</a></li>
         <li ng-class="{'active' : $state.current.name.indexOf('root.help') === 0}" ng-show="userInfo.isSuperAdmin || userInfo.helpIsActive"><a ui-sref="root.help.index"><i class="fa fa-question-circle"></i> Hjælp</a></li>
         <li ng-class="{'active' : $state.current.name.indexOf('root.firstleasePurchaseOrders') === 0}" ng-show="userInfo.isSuperAdmin && $interop.module == 'firstlease'">
           <a ui-sref="root.firstleasePurchaseOrders.index"><i class="fa fa-wrench"></i> Rekvisitioner</a>
         </li>
       </ul>
       <ul class="nav navbar-nav navbar-right">
         <li class="dropdown">
             <a bs-dropdown="dropdown" data-placement="bottom-right">
                 <i class="fa fa-user"></i>
                 <span style="display: inline-block; line-height: 1; padding: 0 5px; height: 1em" ng-style="{'vertical-align': hasAlternateAccounts() ? '-1em' : 0 }">
                     {{userInfo.name}}<br ng-if="hasAlternateAccounts()" />
                     <span style="font-size: 10px; font-weight: bold; text-transform: uppercase" ng-if="hasAlternateAccounts()">
                         {{ userInfo.forhandlerNavn }} &nbsp;
                     </span>
                 </span>
                 <b class="caret"></b>
             </a>
         </li>
       </ul>
     </div>
   </div>
   </div>
<div ng-controller="mainCtrl">
    
        <div class="container" ng-class="{'wide' : $state.current.name.indexOf('root.application.index') === 0}" id="content" ui-view="content"></div>
    
</div>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.60.0/codemirror.min.js" integrity="sha512-hc0zo04EIwTzKLvp2eycDTeIUuvoGYYmFIjYx7DmfgQeZPC5N27sPG2wEQPq8d8fCTwuguLrI1ffatqxyTbHJw==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.60.0/addon/hint/xml-hint.min.js" integrity="sha512-7gbntN2jehWpF75D6bhVh+x/eKAGMLp0XbVG7PmVG/GQmMFmTTRVm56MpEbWxSTxvWb2LIQsnseCveyqILdDAw==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.60.0/addon/hint/show-hint.min.js" integrity="sha512-o06fa0GmwYWeISn71QdVAqv1V3ifIgCRKabnJxmNJIUkjeTf16pcNatJIcUmntAFhXrMzeKSnSUKlDtK+UIu0g==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.60.0/mode/xml/xml.min.js" integrity="sha512-XPih7uxiYsO+igRn/NA2A56REKF3igCp5t0W1yYhddwHsk70rN1bbbMzYkxrvjQ6uk+W3m+qExHIJlFzE6m5eg==" crossorigin="anonymous"></script>

        <script src="/assets/vendor/5ae69803cee77531dce8475a1bc4e78b-angular.min.js" type="text/javascript"></script>
        <script src="/assets/vendor/345a9d2fece160205724aec74867f290-angular-sanitize.min.js" type="text/javascript"></script>
        <script src="/assets/vendor/87f2d2eb3b6a843ce918aaa8e5a4470f-angular-animate.min.js" type="text/javascript"></script>
        <script src="/assets/vendor/c4aa3a5c19e2276d687ce967fecef714-angular-route.min.js" type="text/javascript"></script>
		    <script src="/assets/vendor/19462456bbf4af86ed5b42ecc7e625a9-angular-locale_da.js" type="text/javascript"></script>


        <script src="/assets/vendor/f95ea40548ea5f1258bd930659b1fb1a-angular-load.js" type="text/javascript"></script>
		    <script src="/assets/vendor/329808a0ba5693e4154a40ccc31ef1bd-angular-strap.min.js" type="text/javascript"></script>
		    <script src="/assets/vendor/98fb949ed85fbbdb095bd28cc8de0c9a-angular-strap.tpl.min.js" type="text/javascript"></script>

		    <script src="/assets/vendor/9a242c72460520f3bf1cc206323578ea-angular-ui-router.min.js" type="text/javascript"></script>
        <script src="/assets/vendor/angular-file-upload/a1ade5e7ca69feb12cfe875be9c29436-angular-file-upload.min.js" type="text/javascript"></script>


		    <script src="/assets/vendor/angular-scroll/bb0ad9725866f61020ffe56c97827f44-angular-scroll.min.js" type="text/javascript"></script>

		    <script src="/assets/vendor/showdown/36b53c4ee7b844f1b248c629f0061517-showdown.js" type="text/javascript"></script>
		    <script src="/assets/vendor/showdown/927aa79fdbeb316a9f39370bfd3096a2-showdown-youtube.js" type="text/javascript"></script>
		    <script src="/assets/vendor/showdown/df8538bf54a1dfee353d5d2e21494c56-ng-showdown.js" type="text/javascript"></script>

        <script src="/assets/vendor/d6d3252daec57ca544ccd11bdbff701f-retina.min.js" type="text/javascript"></script>
  </body>
</html>

